pip>=23.3
setuptools>=68.0.0
wheel
--prefer-binary
fastapi==0.95.2
uvicorn[standard]==0.23.1
scikit-learn==1.2.2
pandas==2.0.3
numpy==1.24.4
tldextract==3.4.0
joblib==1.2.0
python-multipart==0.0.6
idna==3.6
pydantic==1.10.12
